<b>Project: Data Jobs Survey<b/>

Tool to use;Python.

<b>Mission:<b/>

To do data cleaning on the Data jobs survey dataset.

In [2]:
#Importing necessary libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
#Loading the data jobs dataset

tech_jobs=pd.read_excel('Power BI - Final Project (1).xlsx')
pd.set_option('display.max_columns', None)
tech_jobs.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [4]:
#Checking the number of rows and column in the dataset

tech_jobs.shape

(630, 28)

In [5]:
#Checking for null values

null_counts=tech_jobs.isnull().sum()
null_counts

Unique ID                                                                                         0
Email                                                                                             0
Date Taken (America/New_York)                                                                     0
Time Taken (America/New_York)                                                                     0
Browser                                                                                         630
OS                                                                                              630
City                                                                                            630
Country                                                                                         630
Referrer                                                                                        630
Time Spent                                                                                        0
Q1 - Which Title Best Fits your Current Role?                                                     0
Q2 - Did you switch careers into Data?                                                            0
Q3 - Current Yearly Salary (in USD)                                                               0
Q4 - What Industry do you work in?                                                                0
Q5 - Favorite Programming Language                                                                0
Q6 - How Happy are you in your Current Position with the following? (Salary)                      7
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)          10
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                  11
Q6 - How Happy are you in your Current Position with the following? (Management)                 12
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)            13
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)         5
Q7 - How difficult was it for you to break into Data?                                             0
Q8 - If you were to look for a new job today, what would be the most important thing to you?      0
Q9 - Male/Female?                                                                                 0
Q10 - Current Age                                                                                 0
Q11 - Which Country do you live in?                                                               0
Q12 - Highest Level of Education                                                                 52
Q13 - Ethnicity                                                                                   0
dtype: int64

In [6]:
tech_jobs.dtypes

Unique ID                                                                                        object
Email                                                                                            object
Date Taken (America/New_York)                                                                    object
Time Taken (America/New_York)                                                                    object
Browser                                                                                         float64
OS                                                                                              float64
City                                                                                            float64
Country                                                                                         float64
Referrer                                                                                        float64
Time Spent                                                                                       object
Q1 - Which Title Best Fits your Current Role?                                                    object
Q2 - Did you switch careers into Data?                                                           object
Q3 - Current Yearly Salary (in USD)                                                              object
Q4 - What Industry do you work in?                                                               object
Q5 - Favorite Programming Language                                                               object
Q6 - How Happy are you in your Current Position with the following? (Salary)                    float64
Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)         float64
Q6 - How Happy are you in your Current Position with the following? (Coworkers)                 float64
Q6 - How Happy are you in your Current Position with the following? (Management)                float64
Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)           float64
Q6 - How Happy are you in your Current Position with the following? (Learning New Things)       float64
Q7 - How difficult was it for you to break into Data?                                            object
Q8 - If you were to look for a new job today, what would be the most important thing to you?     object
Q9 - Male/Female?                                                                                object
Q10 - Current Age                                                                                 int64
Q11 - Which Country do you live in?                                                              object
Q12 - Highest Level of Education                                                                 object
Q13 - Ethnicity                                                                                  object
dtype: object

<h2>Data cleaning</h2><br>
1.Drop Irrelevant columns<br>
2.Splitting the 'Q3 - Current Yearly Salary (in USD)' column into two and calculating the averages.<br>
3.Renaming the long columns to shorter names<br>
4.Mapping various job titles to a standardized title based on specific keywords present in the job titles.<br>
5.Mapping various Industries to a standardized title based on specific keywords present in the industries.<br>
6.Mapping programming languages to a standardized title based on specific keywords present in the languages.<br>
7.Consolidating Desired job factors.<br>
8.Consolidating countries into continents.<br>

In [8]:
#Dropping irrelevant columns

tech_jobs.drop(['Browser', 'OS', 'Email', 'City', 'Country', 'Referrer','Q13 - Ethnicity', 'Date Taken (America/New_York)','Time Taken (America/New_York)', 'Time Spent'], axis=1, inplace=True)

In [9]:
tech_jobs.shape

(630, 18)

In [10]:
#Splitting the 'Q3 - Current Yearly Salary (in USD)' column into two

tech_jobs[['Salary1', 'Salary2']] =tech_jobs['Q3 - Current Yearly Salary (in USD)'].str.split('-', expand=True)

In [11]:
tech_jobs[['Salary1','Salary2']]

    Salary1 Salary2
0      106k    125k
1       41k     65k
2         0     40k
3      150k    225k
4       41k     65k
..      ...     ...
625    125k    150k
626       0     40k
627       0     40k
628       0     40k
629     41k     65k

[630 rows x 2 columns]

In [12]:
#Removing the letters in the salary column

tech_jobs['Salary1(USD)'] = tech_jobs['Salary1'].str.replace('k', '').str.replace('+', '').astype(float) * 1000
tech_jobs['Salary2(USD)'] = tech_jobs['Salary2'].str.replace('k', '').astype(float) * 1000

C:\Users\user\AppData\Local\Temp\ipykernel_16992\3898460592.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tech_jobs['Salary1(USD)'] = tech_jobs['Salary1'].str.replace('k', '').str.replace('+', '').astype(float) * 1000

In [13]:
tech_jobs[['Salary1(USD)','Salary2(USD)']]

     Salary1(USD)  Salary2(USD)
0        106000.0      125000.0
1         41000.0       65000.0
2             0.0       40000.0
3        150000.0      225000.0
4         41000.0       65000.0
..            ...           ...
625      125000.0      150000.0
626           0.0       40000.0
627           0.0       40000.0
628           0.0       40000.0
629       41000.0       65000.0

[630 rows x 2 columns]

In [14]:
#Creating a new column which contains averages of the salary column

tech_jobs['AverageSalary'] = (tech_jobs['Salary1(USD)'] + tech_jobs['Salary2(USD)']) / 2
tech_jobs['AverageSalary']

0      115500.0
1       53000.0
2       20000.0
3      187500.0
4       53000.0
         ...
625    137500.0
626     20000.0
627     20000.0
628     20000.0
629     53000.0
Name: AverageSalary, Length: 630, dtype: float64

In [15]:
#Dropping irrelevant columns

tech_jobs.drop(['Salary1','Salary2', 'Salary1(USD)','Salary2(USD)','Q3 - Current Yearly Salary (in USD)'], axis=1, inplace=True)
tech_jobs.head()

,Unique ID,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,AverageSalary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,115500.0
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,53000.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,20000.0
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,187500.0
4,62a33c91f3072dd892621e03,Data Analyst,Yes,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,53000.0

In [16]:
#Renaming the long columns to shorter names

tech_jobs.rename(columns={'Q1 - Which Title Best Fits your Current Role?': 'Current Role Title', 
                          'Q2 - Did you switch careers into Data?': 'Switched to Data',
                          'Q4 - What Industry do you work in?':'Industry',
                          'Q5 - Favorite Programming Language':'ProgLanguage',
                          'Q6 - How Happy are you in your Current Position with the following? (Salary)':'Current Happiness (Salary)',
                          'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)':'Current Happiness (Work/Life)',
                          'Q6 - How Happy are you in your Current Position with the following? (Coworkers)':'Current Position Happiness (Coworkers)',
                          'Q6 - How Happy are you in your Current Position with the following? (Management)':'Current Position Happiness (Management)',
                          'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)':'Current Position Satisfaction (Upward Mobility)',
                          'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)':'Learning Happiness',
                          'Q7 - How difficult was it for you to break into Data?':'Data Break-In',
                          'Q8 - If you were to look for a new job today, what would be the most important thing to you?':'Desired Job Factor',
                          'Q9 - Male/Female?':'Gender','Q10 - Current Age':'Current Age','Q11 - Which Country do you live in?':'Residence',
                          'Q12 - Highest Level of Education':'Highest Level of Education','Q13 - Ethnicity':'Ethnicity'}, inplace=True)
tech_jobs.head()

,Unique ID,Current Role Title,Switched to Data,Industry,ProgLanguage,Current Happiness (Salary),Current Happiness (Work/Life),Current Position Happiness (Coworkers),Current Position Happiness (Management),Current Position Satisfaction (Upward Mobility),Learning Happiness,Data Break-In,Desired Job Factor,Gender,Current Age,Residence,Highest Level of Education,AverageSalary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,115500.0
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,53000.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,20000.0
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,187500.0
4,62a33c91f3072dd892621e03,Data Analyst,Yes,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,53000.0

In [17]:
tech_jobs['Current Role Title'].unique()

array(['Data Analyst', 'Data Engineer',
       'Other (Please Specify):Analytics Consultant ', 'Data Scientist',
       'Student/Looking/None', 'Other (Please Specify):FP&A Analyst',
       'Other (Please Specify):BI Developer ',
       'Other (Please Specify):Manager, Business Intelligence Develop',
       'Other (Please Specify):Business Analyst ',
       'Other (Please Specify):Business Analyst',
       'Other (Please Specify):Business Intelligence Consultant',
       'Other (Please Specify):Sr. Supply Chain Analyst ',
       'Other (Please Specify):Business analyst ',
       'Other (Please Specify):Director of Data Analytics',
       'Other (Please Specify):Learning Management Specialist',
       'Other (Please Specify):Research Analyst',
       'Other (Please Specify):Insights analyst',
       'Other (Please Specify):Does a social media analyst count?',
       'Other (Please Specify):Educator',
       'Other (Please Specify):Business Intelligence Engineer',
       'Other (Please Specify):Research Associate ',
       'Other (Please Specify):Analytics Manager',
       'Other (Please Specify):Manager of a team of Data Analysts',
       'Other (Please Specify):Analyst',
       'Other (Please Specify):Analytics Engineer',
       'Other (Please Specify):Analyst Primary Market Intelligence',
       'Other (Please Specify):software engineer', 'Data Architect',
       'Other (Please Specify):Data Integrity', 'Database Developer',
       'Other (Please Specify):Financial Analyst',
       'Other (Please Specify):Database Manager',
       'Other (Please Specify):Software Developer ',
       'Other (Please Specify):Tableau admin', 'Other (Please Specify)',
       'Other (Please Specify):Reporting Adm',
       'Other (Please Specify):Billing analyst',
       'Other (Please Specify):I work with data tools and can create simple dashboards but I am not a data scientist',
       'Other (Please Specify):Marketing Data Specialist',
       'Other (Please Specify):Jr. Data Scientist',
       'Other (Please Specify):Continuous Quality Improvement Specialist',
       'Other (Please Specify):PMO',
       'Other (Please Specify):System Administrator',
       'Other (Please Specify):Teacher',
       'Other (Please Specify):Consultant',
       'Other (Please Specify):Business Intelligence Developer',
       'Other (Please Specify):Informatics Specialist',
       'Other (Please Specify):Business Analys',
       'Other (Please Specify):Finance Analyst ',
       'Other (Please Specify):Web Developer',
       'Other (Please Specify):Manager ',
       'Other (Please Specify):Junior Software Engineer',
       'Other (Please Specify):Researchers ',
       'Other (Please Specify):Senior Business Analyst',
       'Other (Please Specify):Data Coordinator',
       'Other (Please Specify):Student working as a data analyst intern ',
       'Other (Please Specify):Driver',
       'Other (Please Specify):Data manager',
       'Other (Please Specify):GIS Analyst ',
       'Other (Please Specify):Business Intelligence Analyst',
       'Other (Please Specify):BI consultant ',
       'Other (Please Specify):DBA',
       'Other (Please Specify):Data Steward',
       'Other (Please Specify):Technical consulta',
       'Other (Please Specify):Software Engineer, AI ',
       'Other (Please Specify):Systems configuration ',
       'Other (Please Specify):Sales & marketing',
       'Other (Please Specify):RF Engineer',
       'Other (Please Specify):Support Engineer',
       'Other (Please Specify):Account manager',
       'Other (Please Specify):Incident Manager',
       'Other (Please Specify):Product owner',
       'Other (Please Specify):Presales Engineer ',
       'Other (Please Specify):Predictive Analyst',
       'Other (Please Specify):Ads operations',
       'Other (Please Specify):Power Bi Developer',
       'Other (Please Specify):Software support',
       'Other (Please Specify):Investigation specialist',
       'Other (Please Specify):Director',
       'Other (Please Specify):Data Manager',
       'Other (Please Specify):SAP Security Analyst',
       'Other (Please Specify):BI Manager',
       'Other (Please Specify):Data Scientist Intern'], dtype=object)

<h3>Mapping various job titles to a standardized title based on specific keywords present in the job titles.<h3/>

In [18]:
for i, role in enumerate(tech_jobs['Current Role Title']):
    if 'Analyst' in role or 'analyst' in role or 'analytical' in role or 'Analytics' in role or 'BI' in role 
    or 'Business' in role or 'Intelligence' in role or 'Tableau' in role or'Power Bi'in role or 'dashboards'in role:
        tech_jobs.loc[i, 'Current Role Title'] = 'Data Analyst'

In [19]:
for i, role in enumerate(tech_jobs['Current Role Title']):
    if 'Data manager' in role or 'Data Manager' in role or 'Data Steward' in role or 'Data Integrity' in role 
    or 'Data Coordinator'in role:
        tech_jobs.loc[i, 'Current Role Title'] = 'Data Manager'

In [20]:
for i, role in enumerate(tech_jobs['Current Role Title']):
    if 'Data Scientist' in role or 'AI' in role:
        tech_jobs.loc[i, 'Current Role Title'] = 'Data Scientist'

In [21]:
for i, role in enumerate(tech_jobs['Current Role Title']):
    if 'Database Developer' in role or 'Database Manager' in role or 'DBA' in role or 'Data Architect' in role:
        tech_jobs.loc[i, 'Current Role Title'] = 'Data Architect'

In [22]:
for i, role in enumerate(tech_jobs['Current Role Title']):
    if 'software engineer' in role or 'Software Developer' in role or 'Junior Software Engineer' in role 
    or 'Web Developer' in role:
        tech_jobs.loc[i, 'Current Role Title'] = 'Software Engineer'

In [23]:
tech_jobs['Current Role Title'] = [role.split(':')[-1].strip() for role in tech_jobs['Current Role Title']]

# Print the updated DataFrame
tech_jobs.sample(5)

,Unique ID,Current Role Title,Switched to Data,Industry,ProgLanguage,Current Happiness (Salary),Current Happiness (Work/Life),Current Position Happiness (Coworkers),Current Position Happiness (Management),Current Position Satisfaction (Upward Mobility),Learning Happiness,Data Break-In,Desired Job Factor,Gender,Current Age,Residence,Highest Level of Education,AverageSalary
320,62a3d8dbf8f7561645861f9d,Data Analyst,No,Education,Python,6.0,10.0,10.0,10.0,7.0,6.0,Easy,Other (Please Specify):Learning New Things,Male,36,United States,Masters,115500.0
546,62a7fb02f8d5efcc22fe2486,Data Analyst,No,Real Estate,Python,7.0,5.0,6.0,6.0,4.0,6.0,Neither easy nor difficult,Good Culture,Male,23,United States,High School,95500.0
525,62a76c962e54c9003e588661,Data Analyst,No,Other (Please Specify):Home and living,Other:SQL,5.0,6.0,6.0,2.0,2.0,3.0,Neither easy nor difficult,Better Salary,Male,32,Other (Please Specify):Germany,Bachelors,53000.0
52,62a3413a5d257a28a30d8074,Data Engineer,No,Finance,Python,2.0,1.0,1.0,1.0,3.0,7.0,Easy,Remote Work,Female,28,United States,Masters,75500.0
521,62a75a5418134ddc75d3d2f1,Data Scientist,Yes,Finance,R,9.0,9.0,9.0,9.0,8.0,8.0,Difficult,Better Salary,Male,42,United States,PhD,187500.0

In [24]:
tech_jobs['Current Role Title'].unique()

array(['Data Analyst', 'Data Engineer', 'Data Scientist',
       'Student/Looking/None', 'Learning Management Specialist',
       'Educator', 'Research Associate', 'Software Engineer',
       'Data Architect', 'Data Manager', 'Other (Please Specify)',
       'Reporting Adm', 'Marketing Data Specialist',
       'Continuous Quality Improvement Specialist', 'PMO',
       'System Administrator', 'Teacher', 'Consultant',
       'Informatics Specialist', 'Manager', 'Researchers', 'Driver',
       'Technical consulta', 'Systems configuration', 'Sales & marketing',
       'RF Engineer', 'Support Engineer', 'Account manager',
       'Incident Manager', 'Product owner', 'Presales Engineer',
       'Ads operations', 'Software support', 'Investigation specialist',
       'Director'], dtype=object)

<h3>Mapping various Industries to a standardized title based on specific keywords present in the industries.<h3/>

In [25]:
tech_jobs['Industry'].unique()

array(['Healthcare', 'Finance', 'Other (Please Specify):Clean Energy',
       'Other (Please Specify):Coworking space ',
       'Other (Please Specify):Retail', 'Telecommunication',
       'Other (Please Specify):Logistics',
       'Other (Please Specify):Igaming', 'Tech', 'Education',
       'Construction', 'Other (Please Specify):Aviation',
       'Other (Please Specify):Insurance',
       'Other (Please Specify):Energy',
       'Other (Please Specify):Oil and gas', 'Other (Please Specify)',
       'Other (Please Specify):Automotive',
       'Other (Please Specify):Automotive ',
       'Other (Please Specify):Utili',
       'Other (Please Specify):Not working yet',
       'Other (Please Specify):Manufa',
       'Other (Please Specify):Manufacturing (Chemicals)',
       'Other (Please Specify):Currently studying . Previously worked in Power Generation',
       'Other (Please Specify):Not working at the moment, but previously I have been into Education industry',
       'Other (Please Specify):Third Party Logistics ',
       'Other (Please Specify):Food & Beverage ',
       'Other (Please Specify):Marketing',
       'Other (Please Specify):Advertising',
       'Other (Please Specify):Staffing and Recruting ',
       'Other (Please Specify):Biotech',
       'Other (Please Specify):Consulting',
       'Other (Please Specify):Consumer Elec',
       'Other (Please Specify):Semiconductor manufacturing',
       'Other (Please Specify):Supply Chain - warehousing, transpiration and ',
       'Other (Please Specify):Distribution',
       'Other (Please Specify):Customer Service',
       'Other (Please Specify):Ecom', 'Other (Please Specify):Consulti',
       'Other (Please Specify):State Government',
       'Other (Please Specify):Culture',
       'Other (Please Specify):Government',
       'Other (Please Specify):Manufacturing',
       'Other (Please Specify):Cons', 'Other (Please Specify):Wholesale',
       'Other (Please Specify):Energy ',
       'Other (Please Specify):Government programs',
       'Other (Please Specify):Supply Chain',
       'Other (Please Specify):Entertainment',
       'Other (Please Specify):Aerospace',
       'Other (Please Specify):Foodservice Franchising',
       'Other (Please Specify):Government ',
       'Other (Please Specify):Entertainment ',
       'Other (Please Specify):Energy (oil and gas)',
       'Other (Please Specify):Market research',
       'Other (Please Specify):hospitality', 'Real Estate',
       'Other (Please Specify):Chemical Manufacturing',
       'Other (Please Specify):Poultry',
       'Other (Please Specify):Renewable Resources',
       'Other (Please Specify):Customer service ',
       'Other (Please Specify): Manufacturering ',
       'Other (Please Specify):sports',
       'Other (Please Specify):fashion/online store',
       'Other (Please Specify):I am a student',
       'Other (Please Specify):Marketing ',
       'Other (Please Specify):Hospitality ', 'Agriculture',
       'Other (Please Specify):Medical industry ',
       'Other (Please Specify):Management',
       'Other (Please Specify):Warehouse',
       'Other (Please Specify):Non profit Animal Welfare',
       'Other (Please Specify):Insurance ', 'Other (Please Specify):none',
       'Other (Please Specify):Social work ',
       'Other (Please Specify):E-commerce', 'Other (Please Specify):IT',
       'Other (Please Specify):Legal',
       'Other (Please Specify):Media & advertising ',
       'Other (Please Specify):Utilities',
       'Other (Please Specify):Audit Firm',
       'Other (Please Specify):Sports',
       'Other (Please Specify):Sports/Marketing',
       'Other (Please Specify):Nonprofit',
       'Other (Please Specify):Law Enforcement',
       'Other (Please Specify):last mile delivery logistics',
       'Other (Please Specify):Arrosp',
       'Other (Please Specify):Demography and Social Statistics ',
       'Other (Please Specify):i`m currently student',
       'Other (Please Specify):None', 'Other (Please Specify):Manuf',
       'Other (Please Specify):Student',
       'Other (Please Specify):Automobile Industry',
       'Other (Please Specify):Fmcg',
       'Other (Please Specify):NGO - Legislation ',
       'Other (Please Specify):Culinary',
       'Other (Please Specify):Customer support ',
       'Other (Please Specify):Cosmetics ',
       'Other (Please Specify):Digital Mar',
       'Other (Please Specify):Home maker ',
       'Other (Please Specify):I am student. ',
       'Other (Please Specify):Unemployed, trying to switch career',
       'Other (Please Specify):Utilities ',
       'Other (Please Specify):Maritime',
       'Other (Please Specify):Ecommerce',
       'Other (Please Specify):Electronics',
       'Other (Please Specify):Logistics and warehousing',
       'Other (Please Specify):Public transport',
       'Other (Please Specify):Urbanism', 'Other (Please Specify):Reta',
       'Other (Please Specify):Avia', 'Other (Please Specify):State',
       'Other (Please Specify):Looking for job',
       'Other (Please Specify):Sensors',
       'Other (Please Specify):Professional Services',
       'Other (Please Specify):Food and bece',
       'Other (Please Specify):Research (non-clincial)',
       'Other (Please Specify):Gover', 'Other (Please Specify):Defense',
       'Other (Please Specify):Foodservice',
       'Other (Please Specify):Data insights company',
       'Other (Please Specify):Not currently working',
       'Other (Please Specify):Food and Beverages',
       'Other (Please Specify):Government Administration',
       'Other (Please Specify):Outsourcing ',
       'Other (Please Specify):Cobsukting',
       'Other (Please Specify):Workforce ',
       'Other (Please Specify):General contractor',
       'Other (Please Specify):Police / Emergency Services',
       'Other (Please Specify):Consumer retail',
       'Other (Please Specify):Home and living',
       'Other (Please Specify):Non Profit Organization',
       'Other (Please Specify):Air transpo',
       'Other (Please Specify):Distribution ',
       'Other (Please Specify):None for now',
       'Other (Please Specify):Retails',
       'Other (Please Specify):Digital Marketing ',
       'Other (Please Specify):Homelessness',
       'Other (Please Specify):Retail ',
       'Other (Please Specify):Direct Marketing',
       'Other (Please Specify):FMCG',
       'Other (Please Specify):Taking bootcamp',
       'Other (Please Specify):Space & Defense',
       'Other (Please Specify):Automobile (cars)',
       'Other (Please Specify):Interning in Sciences, Weather and Meteorological data',
       'Other (Please Specify):Beverage and foods',
       'Other (Please Specify):Transportation'], dtype=object)

In [26]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Manufacturing' in role or 'Manufa' in role or 'Manufacturing (Chemicals)' in role 
                                  or 'Semiconductor manufacturing' in role or 'Chemical Manufacturing' in role 
                                  or ' Manufacturering ' in role or 'Manuf' in role):
        tech_jobs.loc[i, 'Industry'] = 'Manufacturing'

In [27]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Clean Energy' in role or 'Energy' in role or 'Energy ' in role 
                                  or 'Energy (oil and gas)' in role or 'Renewable Resources' in role 
                                  or 'Oil and gas' in role or 'Utili' in role or 'Utilities ' in role ):
        tech_jobs.loc[i, 'Industry'] = 'Utilities'

In [28]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Reta' in role or 'Retail ' in role or 'Retails' in role or 'Consumer retail' in role 
                                  or 'Wholesale' in role or 'fashion/online store' in role):
        tech_jobs.loc[i, 'Industry'] = 'Retail'

In [29]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Logistics' in role or 'Third Party Logistics ' in role 
                                  or 'Supply Chain - warehousing' in role or ' transpiration and ' in role 
                                  or 'Distribution' in role or 'Supply Chain' in role 
                                  or 'last mile delivery logistics' in role or 'Logistics and warehousing' in role 
                                  or 'Public transport' in role or 'Distribution ' in role or 'Transportation' in role):
        tech_jobs.loc[i, 'Industry'] = 'Distribution'

In [30]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Taking bootcamp' in role or 'Not working yet' in role or 'Currently studying ' in role 
                                  or 'Not working at the moment,' in role or 'I am a student' in role 
                                  or 'i`m currently student' in role or 'None' in role or 'Student' in role 
                                  or 'I am student. ' in role or 'Unemployed, trying to switch career' in role 
                                  or 'Looking for job' in role or 'None for now' in role or 'Not currently working' in role):
        tech_jobs.loc[i, 'Industry'] = 'Currently not employed'

In [31]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Automotive' in role or 'Automotive ' in role or 'Automobile (cars)' in role 
                                  or 'Automobile Industry' in role ):
        tech_jobs.loc[i, 'Industry'] = 'Automotive'

In [32]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('State Government' in role or 'Government' in role or 'Government programs' in role 
                                  or 'Government ' in role or 'State' in role or 'Government Administration' in role 
                                  or 'Gover' in role or 'Defense' in role or 'Police / Emergency Services' in role):
        tech_jobs.loc[i, 'Industry'] = 'Government'

In [33]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Food & Beverage ' in role or 'Foodservice Franchising' in role 
                                  or 'Food and Beverages' in role or 'Foodservice' in role or 'Beverage and foods' in role 
                                  or 'Poultry' in role or 'Food and bece' in role):
        tech_jobs.loc[i, 'Industry'] = 'Food & Beverage'

In [34]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Marketing' in role or 'E-commerce' in role or 'Ecom' in role or 'Advertising' in role 
                                  or 'Marketing ' in role or 'Sports/Marketing' in role or 'Digital Mar' in role 
                                  or 'Professional Services' in role or 'Digital Marketing ' in role 
                                  or 'Direct Marketing' in role):
        tech_jobs.loc[i, 'Industry'] = 'Marketing'

In [35]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Aerospace' in role or 'Arrosp' in role or 'Avia' in role or 'Air transpo' in role):
        tech_jobs.loc[i, 'Industry'] = 'Aviation'

In [36]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Consulting' in role or 'Cons' in role):
        tech_jobs.loc[i, 'Industry'] = 'Consulting'

In [37]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Market research' in role or 'Research (non-clincial)' in role 
                                  or 'Data insights company' in role or 'Outsourcing ' in role 
                                  or 'General contractor' in role):
        tech_jobs.loc[i, 'Industry'] = 'Data insights company'

In [38]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Non Profit Organization' in role or 'Nonprofit' in role or 'NGO - Legislation ' in role 
                                  or 'Social work ' in role or 'Non profit Animal Welfare' in role):
        tech_jobs.loc[i, 'Industry'] = 'Non Profit Organization'

In [39]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('IT' in role or 'Electronics' in role or 'Biotech' in role or 'Sensors' in role):
        tech_jobs.loc[i, 'Industry'] = 'IT'

In [40]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Legal' in role or 'Audit Firm' in role or 'Law Enforcement' in role):
        tech_jobs.loc[i, 'Industry'] = 'Legal'

In [41]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('Entertainment' in role or 'Entertainment ' in role or 'Media & advertising ' in role):
        tech_jobs.loc[i, 'Industry'] = 'Entertainment'

In [42]:
for i, role in enumerate(tech_jobs['Industry']):
    if isinstance(role, str) and ('sports' in role or 'Sports' in role):
        tech_jobs.loc[i, 'Industry'] = 'Sports'

In [43]:
#tech_jobs['Industry'] = tech_jobs['Industry'].str.split(':').str[-1]
tech_jobs['Industry'] = [role.split(':')[-1].strip() for role in tech_jobs['Industry']]
tech_jobs['Industry'].unique()

array(['Healthcare', 'Finance', 'Utilities', 'Coworking space', 'Retail',
       'Telecommunication', 'Distribution', 'Igaming', 'Tech',
       'Education', 'Consulting', 'Aviation', 'Insurance',
       'Other (Please Specify)', 'Automotive', 'Currently not employed',
       'Manufacturing', 'Food & Beverage', 'Marketing',
       'Staffing and Recruting', 'IT', 'Customer Service', 'Government',
       'Culture', 'Entertainment', 'Data insights company', 'hospitality',
       'Real Estate', 'Customer service', 'Sports', 'Hospitality',
       'Agriculture', 'Medical industry', 'Management', 'Warehouse',
       'Non Profit Organization', 'none', 'Legal',
       'Demography and Social Statistics', 'Fmcg', 'Culinary',
       'Customer support', 'Cosmetics', 'Home maker', 'Maritime',
       'Urbanism', 'Cobsukting', 'Workforce', 'Home and living',
       'Homelessness', 'FMCG',
       'Interning in Sciences, Weather and Meteorological data'],
      dtype=object)

<h3>Mapping programming languages to a standardized title based on specific keywords present in the languages.<h3/>

In [44]:
tech_jobs['ProgLanguage'].unique()

array(['Python', 'R', 'Other:SQL',
       'Other:Mostly use sql but that’s not programming language..',
       'Other:Qlik sense script', 'Other:sql', 'Other:Power bi',
       'JavaScript',
       "Other:If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python",
       'C/C++', 'Other:I don’t know any', 'Other:Sql',
       'Other:Dont require', 'Other',
       'Other:Knowledge of Excel and SQL yet',
       "Other:I don't use programming in my role", 'Other:Excel/SQL',
       'Other:unknown', 'Other:SQL Postgres ', 'Other:DAX', 'Other:Vba',
       'Other:Stata', 'Other:Excel',
       'Other:I currently do not work with programming languages yet',
       'Other:Altery', 'Other:None', 'Other:c#', 'Other:SQL ',
       'Other:Just started learning ',
       'Other:i mean, i mostly work in SQL and its variants?', 'Java',
       'Other:SAS', 'Other:NA', 'Other:Mainly use Excel',
       'Other:SQL because that is all I know really well so far. ',
       'Other:VBA', 'Other:MATLAB', 'Other:Sql &  plsql', 'Other:Php',
       'Other:SAS SQL', 'Other:None at the moment', 'Other:excel',
       'Other:I do analysis and create presentations based on datasets provided by others'],
      dtype=object)

In [45]:
for i, role in enumerate(tech_jobs['ProgLanguage']):
    if isinstance(role, str) and ('SQL' in role or 'sql' in role or 'Sql' in role or 'SQL Postgres ' in role 
                                  or 'SAS SQL' in role or 'Sql &  plsql' in role or 'SQL ' in role):
        tech_jobs.loc[i, 'ProgLanguage'] = 'SQL'

In [46]:
for i, role in enumerate(tech_jobs['ProgLanguage']):
    if isinstance(role, str) and ('Power bi' in role or 'DAX' in role or 'analysis' in role):
        tech_jobs.loc[i, 'ProgLanguage'] = 'Power bi'

In [49]:
for i, role in enumerate(tech_jobs['ProgLanguage']):
    if isinstance(role, str) and ('my role' in role or 'currently do not' in role or 'None' in role or 'know any' in role
                                  or 'Dont require' in role or 'Just started learning ' in role or 'NA' in role 
                                  or 'unknown' in role ):
        tech_jobs.loc[i, 'ProgLanguage'] = 'None'

In [50]:
for i, role in enumerate(tech_jobs['ProgLanguage']):
    if isinstance(role, str) and ('Excel' in role or 'excel' in role):
        tech_jobs.loc[i, 'ProgLanguage'] = 'Excel'

In [51]:
for i, role in enumerate(tech_jobs['ProgLanguage']):
    if isinstance(role, str) and ('VBA' in role or 'Vba' in role):
        tech_jobs.loc[i, 'ProgLanguage'] = 'VBA'

In [52]:
tech_jobs['ProgLanguage'] = [role.split(':')[-1].strip() for role in tech_jobs['ProgLanguage']]
tech_jobs['ProgLanguage'].unique()

array(['Python', 'R', 'SQL', 'Qlik sense script', 'Power bi',
       'JavaScript', 'C/C++', 'None', 'Other', 'VBA', 'Stata', 'Excel',
       'Altery', 'c#', 'Java', 'SAS', 'MATLAB', 'Php'], dtype=object)

<h3/>Consolidating Desired job factors.<h3/>

In [53]:

tech_jobs['Desired Job Factor'].unique()

array(['Remote Work', 'Good Work/Life Balance', 'Better Salary',
       'Good Culture', 'Other (Please Specify):Responsibilities',
       'Other (Please Specify):Development',
       'Other (Please Specify):Strong organizational data strategy, high-performing team',
       'Other (Please Specify):I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth',
       'Other (Please Specify):Currently very happy with where I am.',
       'Other (Please Specify):My passion is to become a Data analyst ',
       'Other (Please Specify):Different job title, either product owner or consulting',
       'Other (Please Specify):Opportunity for advancement ',
       'Other (Please Specify):Want to move from Australia to Canada, so position in desired country ',
       'Other (Please Specify):All of the options are important to me when looking for a new job',
       'Other (Please Specify):Both Good work / life Balance and Good Culture',
       'Other (Please Specify):an environment that encourages growth like where I work currently and better salary ',
       'Other (Please Specify):Learning possibilities',
       'Other (Please Specify):Opportunities for growth ',
       'Other (Please Specify):I just started and I don\'t like programming so much, so I would search for a more "impactiful" role. Meaning: being able to take decisions that steer the business.',
       'Other (Please Specify):Good opportunities in projects and learnjng',
       'Other (Please Specify):Projects I’m interested in',
       'Other (Please Specify):Mentorship from leading Data Analyst',
       'Other (Please Specify):Intresting work',
       'Other (Please Specify):Mix of better salary, good work/life balance, remote work and good culture',
       'Other (Please Specify):Learning opportunity',
       'Other (Please Specify):Learning New Things',
       'Other (Please Specify):Salary and expo',
       'Other (Please Specify):In office work',
       'Other (Please Specify):Learning new skills',
       'Other (Please Specify):Challenging / exciting problems',
       'Other (Please Specify):All of the above',
       'Other (Please Specify):Data Maturity',
       'Other (Please Specify):Opportunity to learn',
       'Other (Please Specify):Better work & remote salary',
       'Other (Please Specify):The work',
       'Other (Please Specify):Remote too',
       'Other (Please Specify):Collaboration ',
       'Other (Please Specify):Better Tech Stack',
       'Other (Please Specify):Career Advancedment'], dtype=object)

In [54]:
for i, role in enumerate(tech_jobs['Desired Job Factor']):
    if isinstance(role, str) and ('Good Culture' in role or 'Collaboration ' in role):
        tech_jobs.loc[i, 'Desired Job Factor'] = 'Good Culture'

In [55]:
for i, role in enumerate(tech_jobs['Desired Job Factor']):
    if isinstance(role, str) and ('Responsibilities' in role or 'Development' in role 
                                  or 'Strong organizational data strategy' in role 
                                  or 'My passion is to become a Data analyst' in role 
                                  or 'Opportunities for growth' in role or 'Learning possibilities' in role 
                                  or 'Learning New Things' in role or 'Opportunity to learn' in role or 'The work' in role 
                                  or 'Career Advancedment' in role or 'Data Maturity' in role 
                                  or 'Challenging / exciting problems' in role or 'Intresting work' in role 
                                  or 'Mentorship from leading Data Analyst' in role or 'Projects I’m interested in' in role 
                                  or 'Good opportunities in projects and learnjng' in role or 'Opportunity for advancement ' in role 
                                  or 'Learning opportunity' in role or 'Learning new skills' in role 
                                  or 'being able to take decisions' in role or 'the exposure' in role 
                                  or 'environment that encourages growth' in role or 'Currently very happy' in role 
                                  or 'Different job title' in role or 'Tech Stack' in role or 'Mix' in role or 'All' in role):
        tech_jobs.loc[i, 'Desired Job Factor'] = 'Learning and Development'

In [56]:
for i, role in enumerate(tech_jobs['Desired Job Factor']):
    if isinstance(role, str) and ('Salary' in role or 'salary' in role):
        tech_jobs.loc[i, 'Desired Job Factor'] = 'Better Salary'

In [57]:
for i, role in enumerate(tech_jobs['Desired Job Factor']):
    if isinstance(role, str) and ('move' in role or 'work' in role or 'Remote too' in role):
        tech_jobs.loc[i, 'Desired Job Factor'] = 'Remote Work'

In [58]:
tech_jobs['Desired Job Factor'].unique()

array(['Remote Work', 'Good Work/Life Balance', 'Better Salary',
       'Good Culture', 'Learning and Development'], dtype=object)

In [59]:
tech_jobs.head()

,Unique ID,Current Role Title,Switched to Data,Industry,ProgLanguage,Current Happiness (Salary),Current Happiness (Work/Life),Current Position Happiness (Coworkers),Current Position Happiness (Management),Current Position Satisfaction (Upward Mobility),Learning Happiness,Data Break-In,Desired Job Factor,Gender,Current Age,Residence,Highest Level of Education,AverageSalary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,115500.0
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,53000.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,Utilities,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,20000.0
3,62a33c8624a26260273822f9,Data Analyst,Yes,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,187500.0
4,62a33c91f3072dd892621e03,Data Analyst,Yes,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,53000.0

<h3>Consolidating countries to continents.<h3/>

In [60]:
tech_jobs['Residence'].unique()

array(['United States', 'Canada', 'Other (Please Specify):Nigeria',
       'Other (Please Specify):Republic democratic of Congo ',
       'Other (Please Specify)', 'Other (Please Specify):Serbia',
       'Other (Please Specify):Argentina', 'United Kingdom',
       'Other (Please Specify):Niger', 'Other (Please Specify):Kenya',
       'Other (Please Specify):Azerbaijan',
       'Other (Please Specify):Sudan', 'India',
       'Other (Please Specify):Japan', 'Other (Please Specify):Greece',
       'Other (Please Specify):Perú ', 'Other (Please Specify):Australia',
       'Other (Please Specify):Spain', 'Other (Please Specify):Kenya ',
       'Other (Please Specify):Barbados',
       'Other (Please Specify):South Africa',
       'Other (Please Specify):Colombia',
       'Other (Please Specify):Germany',
       'Other (Please Specify):Bulgaria', 'Other (Please Specify):Turkey',
       'Other (Please Specify):France', 'Other (Please Specify):Thailand',
       'Other (Please Specify):Netherlands',
       'Other (Please Specify):Denmark', 'Other (Please Specify):Brazil',
       'Other (Please Specify):Mexico', 'Other (Please Specify):Chile',
       'Other (Please Specify):Costa Rica',
       'Other (Please Specify):Vietnam',
       'Other (Please Specify):Nigeria ',
       'Other (Please Specify):Portugal', 'Other (Please Specify):turkey',
       'Other (Please Specify):Egypt', 'Other (Please Specify):Pakistan',
       'Other (Please Specify):Ireland ', 'Other (Please Specify):Poland',
       'Other (Please Specify):Mozambique',
       'Other (Please Specify):Egypt ', 'Other (Please Specify):Israel',
       'Other (Please Specify):Singapore',
       'Other (Please Specify):Belgium', 'Other (Please Specify):UAE',
       'Other (Please Specify): Somalia', 'Other (Please Specify):Kosovo',
       'Other (Please Specify):Iraq', 'Other (Please Specify):Romania',
       'Other (Please Specify):Peru',
       'Other (Please Specify):Philippines',
       'Other (Please Specify):Malaysia',
       'Other (Please Specify):nigeria', 'Other (Please Specify):Ghana',
       'Other (Please Specify):Portugsl',
       'Other (Please Specify):Macedonia', 'Other (Please Specify):Irel',
       'Other (Please Specify):Morocco',
       'Other (Please Specify):Costa Rica ',
       'Other (Please Specify):Iran',
       'Other (Please Specify):South Africa ',
       'Other (Please Specify):Bangladesh ', 'Other (Please Specify):Ire',
       'Other (Please Specify):Antigua ',
       'Other (Please Specify):Venezuela',
       'Other (Please Specify):Brazik',
       'Other (Please Specify):South Korea',
       'Other (Please Specify):Panama',
       'Other (Please Specify):indonesia',
       'Other (Please Specify):Angola',
       'Other (Please Specify):Africa (Nigeria)',
       'Other (Please Specify):Fin', 'Other (Please Specify):Austr',
       'Other (Please Specify):Leba',
       'Other (Please Specify):Saudi Arabia',
       'Other (Please Specify):United Arab Emirates ',
       'Other (Please Specify):Zambia', 'Other (Please Specify):ghana',
       'Other (Please Specify):Uruguay',
       'Other (Please Specify):Indonesia',
       'Other (Please Specify):Hong Kong',
       'Other (Please Specify):TUNISIA',
       'Other (Please Specify):Sri lanka', 'Other (Please Specify):Kenua',
       'Other (Please Specify):Argentina ',
       'Other (Please Specify):Liberia', 'Other (Please Specify):SG',
       'Other (Please Specify):Aisa', 'Other (Please Specify):Argentine',
       'Other (Please Specify):Sweden',
       'Other (Please Specify):Saudi Arabia ',
       'Other (Please Specify):Algeria', 'Other (Please Specify):Ireland',
       'Other (Please Specify):uzb', 'Other (Please Specify):Morocco ',
       'Other (Please Specify):Oman'], dtype=object)

In [61]:
african_countries = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 
                     'Central African Republic', 'Chad', 'Comoros', 'Congo', 'Cote d\'Ivoire', 'Djibouti', 'Egypt', 
                     'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 
                     'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 
                     'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe',
                     'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania',
                     'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe']

tech_jobs['Residence'] = tech_jobs['Residence'].apply(lambda x: 'Africa' if x in african_countries else x)

In [62]:
tech_jobs['Residence'] = [role.split(':')[-1].strip() for role in tech_jobs['Residence']]
tech_jobs['Residence'].unique()

array(['United States', 'Canada', 'Nigeria',
       'Republic democratic of Congo', 'Other (Please Specify)', 'Serbia',
       'Argentina', 'United Kingdom', 'Niger', 'Kenya', 'Azerbaijan',
       'Sudan', 'India', 'Japan', 'Greece', 'Perú', 'Australia', 'Spain',
       'Barbados', 'South Africa', 'Colombia', 'Germany', 'Bulgaria',
       'Turkey', 'France', 'Thailand', 'Netherlands', 'Denmark', 'Brazil',
       'Mexico', 'Chile', 'Costa Rica', 'Vietnam', 'Portugal', 'turkey',
       'Egypt', 'Pakistan', 'Ireland', 'Poland', 'Mozambique', 'Israel',
       'Singapore', 'Belgium', 'UAE', 'Somalia', 'Kosovo', 'Iraq',
       'Romania', 'Peru', 'Philippines', 'Malaysia', 'nigeria', 'Ghana',
       'Portugsl', 'Macedonia', 'Irel', 'Morocco', 'Iran', 'Bangladesh',
       'Ire', 'Antigua', 'Venezuela', 'Brazik', 'South Korea', 'Panama',
       'indonesia', 'Angola', 'Africa (Nigeria)', 'Fin', 'Austr', 'Leba',
       'Saudi Arabia', 'United Arab Emirates', 'Zambia', 'ghana',
       'Uruguay', 'Indonesia', 'Hong Kong', 'TUNISIA', 'Sri lanka',
       'Kenua', 'Liberia', 'SG', 'Aisa', 'Argentine', 'Sweden', 'Algeria',
       'uzb', 'Oman'], dtype=object)

In [63]:
countries_to_change = ['Kenya', 'Nigeria', 'South Africa','nigeria', 'Republic democratic of Congo ','Somalia','Ghana',
                       'Kenua','Tunisia','Niger','Republic democratic of Congo', 'Sudan','Kenya ','Nigeria ','Egypt',
                       'Mozambique',' Somalia','Morocco','Africa (Nigeria)','Angola','Liberia','Algeria']  


# Update the values in the "residence" column
tech_jobs.loc[tech_jobs['Residence'].isin(countries_to_change), 'Residence'] = 'Africa'

In [64]:

# Create a mapping dictionary of countries and their corresponding continents
country_to_continent = {
    'United States': 'North America',
    'Canada': 'North America',
    'Africa': 'Africa',
    'Serbia': 'Europe',
    'Argentina': 'South America',
    'United Kingdom': 'Europe',
    'Azerbaijan': 'Asia',
    'India': 'Asia',
    'Japan': 'Asia',
    'Greece': 'Europe',
    'Perú': 'South America',
    'Australia': 'Oceania',
    'Spain': 'Europe',
    'Barbados': 'North America',
    'Colombia': 'South America',
    
}

# Add a new column "continent" based on the mapping
tech_jobs['Residence'] = tech_jobs['Residence'].map(country_to_continent)

In [65]:
tech_jobs['Residence'].unique()

array(['North America', 'Africa', nan, 'Europe', 'South America', 'Asia',
       'Oceania'], dtype=object)

In [66]:
tech_jobs.head()

,Unique ID,Current Role Title,Switched to Data,Industry,ProgLanguage,Current Happiness (Salary),Current Happiness (Work/Life),Current Position Happiness (Coworkers),Current Position Happiness (Management),Current Position Satisfaction (Upward Mobility),Learning Happiness,Data Break-In,Desired Job Factor,Gender,Current Age,Residence,Highest Level of Education,AverageSalary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,North America,NaN,115500.0
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,North America,NaN,53000.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,Utilities,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Africa,NaN,20000.0
3,62a33c8624a26260273822f9,Data Analyst,Yes,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,North America,NaN,187500.0
4,62a33c91f3072dd892621e03,Data Analyst,Yes,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,North America,NaN,53000.0

In [71]:
csv_file_path = r'C:\Users\user\Downloads\Data_jobs.csv'

# Convert the DataFrame to CSV
tech_jobs.to_csv(csv_file_path, index=False)